<div class="container-fluid">
<!--migas de pan-->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/Inicio']">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Relación</li>
  </ol>
</nav>
<!--fin migas de pan-->
<div class="card">
  <div class="card-body">
    <div class="row">
      <!--seccion de input para filtrar los productos-->
      <div class="col-md-2"></div>
      <div class="col-md-4">
      </div>
      <div class="col-md-3">
      </div>
      <div class="col-md-3">
        <button class="btn btn-primary btn-sm" (click)="mostrarModal();"><i class="fas fa-pen-square"></i> 
          Registrar Relación
        </button>
      </div>
    </div>
    <br>
    <!--ya no debemos hacer property binding, dado que utilizará los arreglos del servicio-->
    <!--<app-product-list [datos]="filterProducts"></app-product-list>-->
    <div class="card border-primary mb-3 text-center">
      <div class="card-header"><b>Lista de Relaciones</b></div>
      <div class="card-body text-primary">
        <div class="table-responsive">
          <!--llamamos a los nuuevos arreglos declarados en productService, y condicionamos-->
          <table class="table table-striped">
            <thead>
              <!-- esto indica el cabecero de la tabla-->
              <tr>
                <th>#</th>
                <th>Nombre de la estudiante</th>
                <th>Nombre del apoderado</th>
                <th>Tipo</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <!--aqui ocupamos a los arreglos del servicio de entrevistas-->
              <tr *ngFor="let i of estudianteapoderados | paginate: config ;let indice=index" >
                <td>{{indice+1}}</td>
                <td>{{i.estudiante.nombre +' '+i.estudiante.apellido}}</td>
                <td>{{i.apoderado.nombre+' '+i.apoderado.apellido}}</td>
                <td>{{i.tipo}}</td>
                <td>
                  <button class="btn btn-primary btn-sm"
                    (click)="mostrarModal(i.id,i.tipo, i.estudiante_id, i.apoderado_id);">
                    <i class="fas fa-pencil-alt"></i> Ver/Editar
                  </button>
                  &nbsp;
                  <button class="btn btn-danger btn-sm" (click)="deleteRelacion(i.id)">
                    <i class="fas fa-ban"></i> Borrar
                  </button>
                </td>
              </tr>
            </tbody>
            <!--FIN DE BODY-->
          </table>
          <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
        </div>
        <!--FIN DE SECCION TABLA TABLA-->
      </div>
      <!--FIN HEADER CARD-->
    </div>
    <!--FIN BORDER CARD-->
  </div>

    <!--modal para registrar/actualizar marca-->
    <div class="modal" id="exampleModal" [ngStyle]="{'display':activarModal}" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content" style="background: #dddddd">
          <div class="modal-header">
            <h5 class="modal-title">Registro de Relaciones</h5>
            <button (click)="ocultarModal()" type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <div class="modal-body">
            <!--formulario para crear/actualizar relacion-->
            <form class="col-md-12 ml-0 pl-0" #modelNew="ngForm" (ngSubmit)="onSubmit(modelNew)">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="estudiante_id">Estudiante</label>
                  <select name="estudiante_id" class="form-control" id="estudiante_id" #estudiante_id="ngModel"
                    [(ngModel)]="estudianteapoderado.estudiante_id">
                    <option *ngFor="let i of estudiantes" value="{{i.id}}">{{i.nombre +" "+ i.apellido}}</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="apoderado_id">Apoderado</label>
                  <select name="apoderado_id" class="form-control" id="apoderado_id" #apoderado_id="ngModel"
                    [(ngModel)]="estudianteapoderado.apoderado_id">
                    <option *ngFor="let i of apoderados" value="{{i.id}}">{{i.nombre +" "+ i.apellido}}</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="tipo">Tipo</label>
                  <select name="tipo" class="form-control" id="tipo" #tipo="ngModel"
                    [(ngModel)]="estudianteapoderado.tipo">
                    <option value="Titular">Titular</option>
                    <option value="Suplente">Suplente</option>
                  </select>
                </div>
              </div>
              <input value="Guardar" type="submit" class="btn btn-success" [disabled]="modelNew.invalid">
            </form>
            <!--fin formulario para crear/actualizar relacion-->
          </div>
          <div class="modal-footer">
            <button type="button" (click)="ocultarModal()" class="btn btn-danger">Cerrar</button>
          </div>
        </div>
      </div>
    </div>